h3 {
    margin: 0 0 10px;
  }
  .icons {
    cursor: pointer;
    color: rgb(15, 211, 74);

  }
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }
 
  .fa-times {
    color: red
  }
  .fa-pencil {
    color :green;
  }

  .fa-remove:before, .fa-close:before, .fa-times:before {
    color: red;
  }

  /* a {
    color : #00ff8b!important
  } */